<ion-header>

  <ion-navbar color="oren">
    <ion-title>
      <div>List</div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <ion-grid fixed class="wrapper">
    <ion-list>
      <ion-item>
        Cabang
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Depo
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item (click)="detaillisting()">
        Distributor
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>