<!--
  Generated template for the TraficPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>Traffic Apps</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <ion-grid fixed class="wrapper">
    <ion-card id="visitors">
      <ion-card-header>
        Traffic Today<br>
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card id="omzet">
      <ion-card-header>
        Traffic Weekly
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card id="omzetDetail" style="display:none">
      <ion-card-header>
        Komposisi Omzet Januari 2019
      </ion-card-header>
      <ion-card-content>
        <canvas #pieCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card id="travel" style="display:none">
      <ion-card-header>
        Travel Penyumbang Omzet
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>