page-login {

  .background {
    background-image: linear-gradient(#633ce0, #633ce0);
    // background-color: #e9eef5
  }

  .pop {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 75%;
    height: auto;
    background-color: #fff;
    border-radius: 0%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 3px solid #633ce0;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 10px 10px;
    text-align: center;
  }
}
