<ion-content class="background">
  <ion-grid id="pop" style="height: 100%;" fixed>
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column;">
      <div class="pop">
        <div class="container">
          <img src="assets/imgs/gochecks.png" width="150px" height="150px">
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-list><br>
          <button ion-button block round color="oren" (click)="login_procces()">Login</button>
          <br>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>