<ion-header>
  <ion-navbar color="oren">
    <ion-title>
      <div>Detail List Toko {{title}}</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="form_search()">
        <ion-icon name="search"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="viewuser=='Yes'">
      <button ion-button icon-only (click)="salesman(kdoutlet,kdcabang)">
        <ion-icon name="people"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="close_page=='Yes'">
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close-circle"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed class="wrapper">
    <ion-list>
      <ion-item *ngFor="let val of listOutlet">
        <h2>{{val.Nama}}</h2>
        <h3>Kode Toko : {{val.KdOutlet}}</h3>
        <p>Alamat Toko : {{val.KotaToko}}</p>
        <ion-note item-end color="warning" *ngIf="val.statuz_pending=='1'">
          Pending
        </ion-note>
        <ion-note item-end color="secondary" *ngIf="val.statuz_valid=='1'">
          Validate
        </ion-note>
        <ion-icon name="download" item-end *ngIf="bisa_pilih=='Yes'" (click)="pilih_ini(val.KdOutlet,val.Nama)">
        </ion-icon>
      </ion-item>

    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event,src, first,filter)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Mencari Data Lagi...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>