<ion-header>
  <ion-navbar color="oren">
    <ion-title>
      <div>List Toko {{title}}</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="form_search()">
        <ion-icon name="search"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed class="wrapper">
    <ion-list>
      <ion-item *ngFor="let val of listOutlet">
        <h2>{{val.Nama}}</h2>
        <h3>Kode Toko : {{val.KdOutlet}}</h3>
        <p>Alamat Toko : {{val.KotaToko}}</p>
        <ion-note item-end color="warning" *ngIf="val.statuz_pending=='1'">
          Pending&nbsp;&nbsp;
        </ion-note>
        <ion-note item-end color="secondary" *ngIf="val.statuz_valid=='1'">
          Validate&nbsp;&nbsp;
        </ion-note>
        <ion-icon *ngIf="hak_swtiching=='Yes'" color="danger" style="font-weight:bold" name="ios-shuffle" item-end
          (click)="switching(val.KdOutlet,kdcabang,kdoutlet)">
        </ion-icon>


      </ion-item>

    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event,src, first)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Mencari Data Lagi...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>