<!-- <ion-header>

  <ion-navbar color="oren">
    <ion-title>
      <div><b>GoCheck</b></div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="settings()">
        <ion-icon name="settings"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon style="margin-top: 40px;margin-bottom: 15px;" name="log-out"></ion-icon>&nbsp;&nbsp;
      </button>
    </!
</ion-navbar>

</ion-header> -->

<!-- <ion-content class="bgc"> -->
<ion-content class="bgc">
  <ion-grid fixed class="wrapper">

    <!-- <div id="tab-1" class="tab page-content tab-active"> -->

    <!-- title -->
    <div class="title-apps padding-middle background-primer">
      <div class="container">
        <div class="row row-no-margin-bottom">
          <div class="col">
            <h3 class="color-white">GoCheck</h3>
          </div>
          <div class="col">
            <span class="icon-middle margin-left-small float-right color-white" (click)="settings()">
              <h3 class="color-white">
                <ion-badge id="notifications-badge" *ngIf="update=='Yes'">
                  <span>&nbsp;update&nbsp;</span>
                </ion-badge>
                <ion-icon name="settings"></ion-icon>
              </h3>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- end title -->



    <!-- profile balance -->
    <div class="border-radius-style background-circle background-primer">
      <div class="container">
        <div class="background-white border-radius padding-box-middle box-shadow">
          <div class="row row-no-margin-bottom">
            <div class="col-60">
              <div class="float-left margin-right-small">
                <img class="people" src="assets/imgs/users.png" alt="">
              </div>
              <div class="overflow-hidden">
                <h4>{{name}}</h4>
                <p>{{jabatan_name}}<br>
                  {{corp}}</p>
              </div>
            </div>
            <!-- <div class="col-40">
                <button class="buttons float-right letter-spacing margin-top-small">$ 650</button>
              </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- end profile balance -->
  </ion-grid>
  <ion-grid fixed class="wrapper_body">
    <!-- separator -->
    <div class="separator-small"></div>
    <div class="separator-small"></div>
    <div class="separator-small"></div>
    <div class="separator-small"></div>
    <!-- end separator -->
    <!-- menus -->
    <div class="menus">
      <div class="container">
        <div>
          <!-- sales -->
          <div class="row" *ngIf="level=='4'">
            <div class="col" (click)="pin_outlets()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/maps.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Tag Lokasi</h6>
              </div>
            </div>
            <div class="col" (click)="performa()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/performance.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Performa</h6>
              </div>
            </div>
            <div class="col" (click)="history()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/outlet.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Histori</h6>
              </div>
            </div>
          </div>


          <!-- admin vci  -->
          <div class="row" *ngIf="level=='2' && jenis_outlet=='vci'">
            <div class="col" (click)="pin_outlets()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/maps.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Tag Lokasi</h6>
              </div>
            </div>
            <div class="col" (click)="performa()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/performance.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Performa</h6>
              </div>
            </div>
            <div class="col" (click)="history()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/outlet.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Histori</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='2' && jenis_outlet=='vci'">
            <div class="col" (click)="admin_page()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/qrscanlogo.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Admin</h6>
              </div>
            </div>
            <div class="col" (click)="scanCode()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/analytics.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Scan QR</h6>
              </div>
            </div>
            <div class="col" (click)="listing()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/listing.png" width='55px' height='55px' />
                <h6 class="font-weight-500">List</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='2' && jenis_outlet=='vci'">
            <div class="col" (click)="activities()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/activities.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Aktifitas</h6>
              </div>
            </div>
            <div class="col" (click)="allOutlets()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/outlets.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Toko</h6>
              </div>
            </div>
            <div class="col" (click)="noo()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/noo.png" width='55px' height='55px' />
                <h6 class="font-weight-500">N.O.O</h6>
              </div>
            </div>
          </div>

          <!-- admin non vci -->
          <div class="row" *ngIf="level=='2' && jenis_outlet!='vci'">
            <div class="col" (click)="admin_page()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/qrscanlogo.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Admin</h6>
              </div>
            </div>
            <div class="col" (click)="scanCode()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/analytics.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Scan QR</h6>
              </div>
            </div>
            <div class="col" (click)="performa()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/performance.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Performa</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='2' && jenis_outlet!='vci'">
            <div class="col" (click)="listing()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/listing.png" width='55px' height='55px' />
                <h6 class="font-weight-500">List</h6>
              </div>
            </div>
            <div class="col" (click)="rutesales()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/route.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Rute Sales</h6>
              </div>
            </div>
            <div class="col" (click)="luar_rute()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/no_route.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Luar Rute</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='2' && jenis_outlet!='vci'">
            <div class="col" (click)="activities()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/activities.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Aktifitas</h6>
              </div>
            </div>
            <div class="col" (click)="allOutlets()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/outlets.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Toko</h6>
              </div>
            </div>
            <div class="col" (click)="noo()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/noo.png" width='55px' height='55px' />
                <h6 class="font-weight-500">N.O.O</h6>
              </div>
            </div>
          </div>

          <!-- Kepala sales distributor, regional, nasional  -->
          <div class="row" *ngIf="level=='6' || level=='9' || level=='10'">
            <div class="col" (click)="listing()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/listing.png" width='55px' height='55px' />
                <h6 class="font-weight-500">List</h6>
              </div>
            </div>
            <div class="col" (click)="activities()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/activities.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Aktifitas</h6>
              </div>
            </div>
            <div class="col" (click)="history()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/outlet.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Histori</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='6' || level=='9' || level=='10'">
            <div class="col" (click)="allOutlets()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/outlets.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Toko</h6>
              </div>
            </div>
            <div class="col" (click)="noo()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/noo.png" width='55px' height='55px' />
                <h6 class="font-weight-500">N.O.O</h6>
              </div>
            </div>
            <div class="col" (click)="rutesales()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/route.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Rute Sales</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='6' || level=='9' || level=='10'">
            <div class="col" (click)="luar_rute()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/no_route.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Luar Rute</h6>
              </div>
            </div>
            <div class="col" (click)="analytics()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/analyticss.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Analisa</h6>
              </div>
            </div>
            <div class="col">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/charts.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Grafik</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='6' || level=='9' || level=='10'">
            <div class="col">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/barang.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Produk</h6>
              </div>
            </div>
            <div class="col">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/sales.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Sales</h6>
              </div>
            </div>
            <div class="col">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/bi.png" width='55px' height='55px' />
                <h6 class="font-weight-500">B.Intel</h6>
              </div>
            </div>
          </div>

          <!-- super user -->
          <div class="row" *ngIf="level=='-1'">
            <div class="col" (click)="pin_outlets()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/maps.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Tag Lokasi</h6>
              </div>
            </div>
            <div class="col" (click)="scanCode()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/analytics.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Scan QR</h6>
              </div>
            </div>
            <div class="col" (click)="history()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/outlet.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Histori</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='-1'">
            <div class="col" (click)="admin_page()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/qrscanlogo.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Admin</h6>
              </div>
            </div>
            <div class="col" (click)="listing()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/listing.png" width='55px' height='55px' />
                <h6 class="font-weight-500">List</h6>
              </div>
            </div>
            <div class="col" (click)="activities()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/activities.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Aktifitas</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='-1'">
            <div class="col" (click)="allOutlets()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/outlets.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Toko</h6>
              </div>
            </div>
            <div class="col" (click)="noo()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/noo.png" width='55px' height='55px' />
                <h6 class="font-weight-500">N.O.O</h6>
              </div>
            </div>
            <div class="col" (click)="rutesales()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/route.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Rute Sales</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='-1'">
            <div class="col" (click)="luar_rute()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/no_route.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Luar Rute</h6>
              </div>
            </div>
            <div class="col" (click)="analytics()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/analyticss.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Analisa</h6>
              </div>
            </div>
            <div class="col">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/charts.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Grafik</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='-1'">
            <div class="col">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/barang.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Produk</h6>
              </div>
            </div>
            <div class="col">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/sales.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Sales</h6>
              </div>
            </div>
            <div class="col">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/bi.png" width='55px' height='55px' />
                <h6 class="font-weight-500">B.Intel</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="level=='-1' && developer=='1'">
            <div class="col" (click)="Logs()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/logs.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Logs</h6>
              </div>
            </div>
            <div class="col" (click)="bypass()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/bypass.png" width='55px' height='55px' />
                <h6 class="font-weight-500">ByPass</h6>
              </div>
            </div>
            <div class="col" (click)="traffic()">
              <div class="background-white text-center border-radius padding-box box-shadow">
                <img src="assets/imgs/counter.png" width='55px' height='55px' />
                <h6 class="font-weight-500">Traffic</h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end menus -->
    <!-- separator -->
    <div class="separator"></div>
    <!-- end separator -->
    <!-- separator -->
    <div class="separator-bottom"></div>
    <!-- end separator -->
    <!-- </div> -->


  </ion-grid>
</ion-content>