<!--
  Generated template for the PetanooPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>Peta {{name_noo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <div #map id="map" style="width: 100%;height: 100%;"></div>
</ion-content>