<!--
  Generated template for the DetailhistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>Detail Histori</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <!-- <div #map id="map"
    style="box-shadow: 0px 2px 5px 5px #888888;margin: auto; width: 470px ;height:25%;border-bottom: 3px solid #ff7800;">
  </div> -->
  <ion-grid fixed class="wrapper">
    <ion-card>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/setting.png">
        </ion-avatar>
        <h2>{{OutletName}}</h2>
        <p>{{Address}}</p>
      </ion-item>

      <img src="{{Images}}">

      <ion-card-content>

        <table style="width: 100%;">
          <tr>
            <td style="width: 30%;">
              Uploader
            </td>
            <td style="width: 70%;">
              : {{UserUpload}}
            </td>
          </tr>
          <tr>
            <td style="width: 30%;">
              Date Upload
            </td>
            <td style="width: 70%;">
              : {{DateUpload}}
            </td>
          </tr>
          <tr *ngIf="Status!='0'">
            <td style="width: 30%;">
              Validator
            </td>
            <td style="width: 70%;">
              : {{UserValidate}}
            </td>
          </tr>
          <tr *ngIf="Status!='0'">
            <td style="width: 30%;">
              Date Validate
            </td>
            <td style="width: 70%;">
              : {{DateValidate}}
            </td>
          </tr>
          <tr *ngIf="Note!=''">
            <td style="width: 30%;">
              Note Uploader
            </td>
            <td style="width: 70%;">
              : {{Note}}
            </td>
          </tr>
          <tr>
            <td style="width: 30%;">
              Source Data
            </td>
            <td style="width: 70%;">
              : {{tipedata}}
            </td>
          </tr>
          <tr *ngIf="NoteValidator!=''">
            <td style="width: 30%;">
              Note Validator
            </td>
            <td style="width: 70%;">
              : {{NoteValidator}}
            </td>
          </tr>
        </table>

        <!-- <h3>Uploader : {{UserUpload}}</h3>
        <h3>Date Upload : {{DateUpload}}</h3>
        <h3 *ngIf="Status!='0'">Validator : {{UserValidate}}</h3>
        <h3 *ngIf="Status!='0'">Date Validate : {{DateValidate}}</h3>
        <p *ngIf="Note!=''">Note Uploader: {{Note}}</p>
        <p>Source Data: {{tipedata}}</p>
        <p *ngIf="NoteValidator!=''">Note Validator: {{NoteValidator}}</p> -->
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>