<ion-header>

  <ion-navbar color="oren">
    <ion-title>
      <div>Lokasi Detail</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="detailLocation(id,outlet, lat, lng , name, address,2)">
        <ion-icon name="close-circle"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="detailLocation(id,outlet, lat, lng , name, address,1)">
        <ion-icon name="checkmark-circle"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding style="background-color: #f5f6f9">
  <ion-grid style="height: 100%;border:0px solid #000">
    <ion-row>
      <ion-col>
        <img src="{{images}}" style="width: 100%;height: 100%">
      </ion-col>
      <ion-col>
        <div #map id="map" style="width: 100%;height: 100%;"></div>
      </ion-col>
      <ion-col>
        <div id="pano" style="width: 100%;height: 100%;"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>