<ion-content no-padding>
  <ion-fab right top style="background: transparent;">
    <button ion-button icon-only clear style="background: transparent;" (click)="close()">
      <ion-icon name='close' color="dark" (click)="close()"></ion-icon>
    </button>
  </ion-fab>
  <div #map id="map" style="width: 100%;height: 50%;"></div>
  <div id="pano" style="width: 100%;height: 50%;"></div>


  <ion-fab left bottom>
    <button ion-fab color="danger" (click)="detailLocation(outlet, lat, lng , name, address,2,note)">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom>
    <button ion-fab color="oren"
      (click)="detailLocation(outlet, lat, lng , name, address,1,note,kode_distributor,kode_sales)">
      <ion-icon name="checkmark-circle"></ion-icon>
    </button>
  </ion-fab>

</ion-content>