<ion-content>
  <ion-item-group no-lines>
    <!-- <ion-item-divider color="primary">All About Me</ion-item-divider>
    <ion-item>
      <ion-icon name="body" item-start></ion-icon>My Location
    </ion-item>
    <ion-item>
      <ion-icon name="map" item-start></ion-icon>New Place
    </ion-item>
    <ion-item>
      <ion-icon name="locate" item-start></ion-icon>New Coordinates
    </ion-item>
    <ion-item>
      <ion-icon name="trending-up" item-start></ion-icon>Directions
    </ion-item>
    <ion-item>
      <ion-icon name="walk" item-start></ion-icon>Steps
    </ion-item>
    <ion-item>
      <ion-icon name="megaphone" item-start></ion-icon>Voice Rec
    </ion-item>
    <ion-item>
      <ion-icon name="contacts" item-start></ion-icon>Tracking Sales
    </ion-item>
    <ion-item>
      <ion-icon name="home" item-start></ion-icon>All Outlets
    </ion-item>
    <ion-item>
      <ion-icon name="cart" item-start></ion-icon>All Counters
    </ion-item> -->
    <ion-item (click)="newOutlet()">
      <ion-icon name="pin" item-start></ion-icon>New Outlet
    </ion-item>
    <!-- <ion-item>
      <ion-icon name="barcode" item-start></ion-icon>Scan QR Code
    </ion-item> -->
    <ion-item>
      <ion-icon name="clipboard" item-start></ion-icon>History
    </ion-item>
    <ion-item>
      <ion-icon name="settings" item-start></ion-icon>Setting
    </ion-item>
  </ion-item-group>


  <table>
    <tr>

    </tr>
  </table>
</ion-content>
