<!--
  Generated template for the PerformaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>Performa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <ion-grid fixed class="wrapper">






    <!-- <div style="border-bottom:1px solid #d7d8da;">
      <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/profilez.png">
          </ion-avatar>
          <h2>{{sales_name}}</h2>
          <p>Performa : {{performa}}%</p>
          <button ion-button icon-end item-end round color="success-tint" (click)="listOutlet()">
            &nbsp;&nbsp;List Toko Sales
            <ion-icon name="clipboard"></ion-icon>&nbsp;&nbsp;
          </button>
        </ion-item>
      </ion-list>
    </div> -->

    <div style="border-bottom:1px solid #d7d8da;">
      <ion-card>
        <ion-item-divider color="light-shade">Pencapaian Sales
        </ion-item-divider>
        <ion-card-content><br>
          <table style="width: 100%;">
            <tr>
              <td style="width: 30%">
                Sales
              </td>
              <td style="width: 70%">
                : {{sales_name}}
              </td>
            </tr>
            <tr>
              <td style="width: 30%">
                Performa
              </td>
              <td style="width: 70%">
                : {{performa}}%
              </td>
            </tr>
          </table>
        </ion-card-content>
        <ion-item-divider color="light-shade" style="text-align: center;">

          <button ion-button icon-end round color="success-tint" (click)="listOutlet()">
            &nbsp;&nbsp;Toko Sales
            <ion-icon name="clipboard"></ion-icon>&nbsp;&nbsp;
          </button>
          <button ion-button icon-end round color="danger" (click)="noo()">
            &nbsp;&nbsp;N.O.O
            <ion-icon name="clipboard"></ion-icon>&nbsp;&nbsp;
          </button>
          <button ion-button icon-end round color="medium-shade" (click)="tokoplus()">
            &nbsp;&nbsp;Toko Plus
            <ion-icon name="clipboard"></ion-icon>&nbsp;&nbsp;
          </button>

        </ion-item-divider>
      </ion-card>
    </div>

    <div style="border-bottom:1px solid #d7d8da;">
      <ion-card>
        <ion-item-divider color="light-shade">Grafik Pencapain Toko Sendiri
          <button ion-button icon-end item-end round color="primary-tint"
            (click)="peta_sendiri(kdcabang,kdoutlet,kdsales)">
            &nbsp;&nbsp;Lihat Peta
            <ion-icon name="pin"></ion-icon>&nbsp;&nbsp;
          </button>
        </ion-item-divider>
        <br>
        <ion-card-content>
          <canvas #doughnutCanvas1></canvas>
        </ion-card-content>
        <ion-card-content>
          <table style="border: 0px solid #222;width: 100%;">
            <tr>
              <td colspan="2">
                <b>Keterangan Grafik</b>
              </td>
              <td colspan="2">
                <b>Info Tambahan</b>
              </td>
            </tr>
            <tr>
              <td style="width: 25%;">
                Semua Toko
              </td>
              <td style="width: 25%;">
                : {{toko_pegangan}} Toko
              </td>
              <td style="width: 25%;">
                N.O.O
              </td>
              <td style="width: 25%;">
                : {{toko_noo}} Toko
              </td>
            </tr>
            <tr>
              <td style="width: 25%;">
                Belum
              </td>
              <td style="width: 25%;">
                : {{toko_belum_terpetakan}} Toko
              </td>
              <td style="width: 25%;">
                Toko Plus*
              </td>
              <td style="width: 25%;">
                : {{toko_diluar_pegangan_sudah_terpetakan}} Toko
              </td>
            </tr>
            <tr>
              <td style="width: 25%;">
                Sudah
              </td>
              <td style="width: 25%;">
                : {{toko_sudah_terpetakan}} Toko
              </td>
              <td style="width: 50%;" colspan="2">
                <i>*) Toko diluar rute sales</i>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </div>

    <div style="border-bottom:1px solid #d7d8da;">
      <ion-card>
        <ion-item-divider color="light-shade">Grafik Pencapain Toko Keseluruhan
          <button ion-button icon-end item-end round color="primary-tint" (click)="peta_distributor(kdcabang,kdoutlet)">
            &nbsp;&nbsp;Lihat Peta
            <ion-icon name="pin"></ion-icon>&nbsp;&nbsp;
          </button>
        </ion-item-divider>
        <br>
        <ion-card-content>
          <canvas #doughnutCanvas2></canvas>
        </ion-card-content>
        <ion-card-content>
          <table style="border: 0px solid #222;width: 100%;">
            <tr>
              <td colspan="2">
                <b>Keterangan Grafik</b>
              </td>
              <td colspan="2">
                <b>Info Tambahan</b>
              </td>
            </tr>
            <tr>
              <td style="width: 25%;">
                Semua Toko
              </td>
              <td style="width: 25%;">
                : {{seluruh_toko}} Toko
              </td>
              <td style="width: 25%;">
                N.O.O
              </td>
              <td style="width: 25%;">
                : {{seluruh_toko_noo}} Toko
              </td>
            </tr>
            <tr>
              <td style="width: 25%;">
                Belum
              </td>
              <td style="width: 25%;">
                : {{seluruh_toko_belum_terpetakan}} Toko
              </td>
              <td style="width: 25%;">
                &nbsp;
              </td>
              <td style="width: 25%;">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td style="width: 25%;">
                Sudah
              </td>
              <td style="width: 25%;">
                : {{seluruh_toko_sudah_terpetakan}} Toko
              </td>
              <td style="width: 25%;">
                &nbsp;
              </td>
              <td style="width: 25%;">
                &nbsp;
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </div>


  </ion-grid>
</ion-content>