<ion-header>
  <ion-navbar color="oren">
    <ion-title>Filter</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close-circle"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="bgc">
  <ion-grid fixed class="wrapper">

    <ion-card>
      <ion-item-divider color="light-shade">Filter Tanggal, Distributor atau Sales
      </ion-item-divider>
      <ion-card-content>
        <ion-list inset>
          <ion-item>
            <ion-label>Tanggal : </ion-label>
            <ion-datetime placeholder="Cari Tanggal..." [(ngModel)]="date_search" displayFormat="YYYY-MM-DD"
              min="2020-03-01" max="2020-12-31">
            </ion-datetime>
          </ion-item>
          <ion-item-divider color="white">Distributor : {{distributor_name}}<ion-icon
              (click)="search_distributor(kdoutlet, kdcabang)" name="search" item-end *ngIf="cari_distribusi=='Yes'">
            </ion-icon>
          </ion-item-divider>
          <ion-item style="display: none;">
            <ion-input type="text" placeholder="Distributor Yang Dipilih" [(ngModel)]="kdoutlet"></ion-input>
          </ion-item>
          <ion-item style="display: none;">
            <ion-input readonly type="text" placeholder="Distributor Yang Dipilih" [(ngModel)]="distributor_name">
            </ion-input>
          </ion-item>
          <ion-item-divider color="white">Sales : {{sales_name}}<ion-icon (click)="search_sales(kdoutlet, kdcabang)"
              name="search" item-end *ngIf="cari_sales=='Yes'"></ion-icon>
          </ion-item-divider>
          <ion-item style="display: none;">
            <ion-input type="text" placeholder="Sales Yang Dipilih" [(ngModel)]="kdsales"></ion-input>
          </ion-item>
          <ion-item style="display: none;">
            <ion-input readonly type="text" placeholder="Sales Yang Dipilih" [(ngModel)]="sales_name"></ion-input>
          </ion-item>
          <br><br>
          <button ion-button color="primary" outline block (click)="terapkan()">terapkan</button>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </ion-grid>
</ion-content>