<ion-header>

  <ion-navbar color="oren">
    <ion-title>
      <div>Formulir Outlet Apps</div>
    </ion-title>

    <ion-buttons end id="maps" style="display: none;">
      <button ion-button icon-only (click)="addMaps()">
        <ion-icon name="map"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>

    <ion-buttons end id="tombol_kirim" style="display: none;">
      <button ion-button icon-only (click)="metode_upload()">
        <ion-icon name="cloud-upload"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>

    <ion-buttons end id="add">
      <button ion-button icon-only (click)="addForm()">
        <ion-icon name="add-circle"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">

  <div #map id="map"
    style="box-shadow: 0px 2px 5px 5px #888888;margin: auto; width: 465px ;height: 50%;border-bottom: 3px solid #9831e0;">
  </div>
  <ion-grid fixed>


    <div class="wrapper">
      <div id="peta">
        <ion-item-group>
          <ion-list no-border>
            <ion-item-divider color="light">Info Koordinat Lokasi Anda <ion-icon (click)="getLocation()" name="locate"
                item-end></ion-icon>
            </ion-item-divider>
            <ion-item>
              <ion-icon name='pin' item-start></ion-icon>
              Latitude
              <ion-note item-end>
                {{latitude}}
              </ion-note>
            </ion-item>
            <ion-item>
              <ion-icon name='pin' item-start></ion-icon>
              Longitude
              <ion-note item-end>
                {{longitude}}
              </ion-note>
            </ion-item>

            <ion-item-divider color="light">Alamat Menurut Google Maps</ion-item-divider>
            <ion-item style="display: none;">
              <textarea id="ReLocate" rows="3" style="border:none;width: 100%;"></textarea>
            </ion-item>
            <ion-item style="display: none;">
              <textarea id="RLocate" rows="3" style="border:none;width: 100%;" value="0"></textarea>
            </ion-item>
            <ion-item>
              <textarea id="map-search" rows="5" style="border:none;width: 100%;"></textarea>
            </ion-item>
          </ion-list>
        </ion-item-group>
      </div>
    </div>

    <div class="wrapper">
      <div id="addForm" style="display: none;" no-padding>

        <ion-card>
          <ion-item-divider color="light-shade">
            <ion-label>Outlet Yang Sudah Ada</ion-label>
            <ion-toggle [(ngModel)]="outlet_existing" checked={{outlet_existing}} (ionChange)="myChange($event)">
            </ion-toggle>
          </ion-item-divider>

          <ion-card-content>
            <ion-list inset>

              <ion-item id="kode_outlet" style="display:none">
                <ion-label floating>Kode Outlet</ion-label>
                <ion-input readonly type="text" [(ngModel)]="kode_outlet"></ion-input>
              </ion-item>

              <ion-item id="kode_distributor" style="display:none">
                <ion-label floating>Kode Distributor</ion-label>
                <ion-input readonly type="text" [(ngModel)]="kode_distributor"></ion-input>
              </ion-item>

              <ion-item id="kode_sales" style="display:none">
                <ion-label floating>Kode Sales</ion-label>
                <ion-input readonly type="text" [(ngModel)]="kode_sales"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Nama Toko</ion-label>
                <ion-input type="text" [(ngModel)]="outlet_name"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label floating>Alamat</ion-label>
                <ion-textarea rows="5" [(ngModel)]="address"></ion-textarea>
              </ion-item>

              <ion-item>
                <ion-label floating>Catatan</ion-label>
                <ion-input type="text" [(ngModel)]="note"></ion-input>
              </ion-item>

              <ion-item style="display: none;">
                <ion-label floating>Photo Status</ion-label>
                <ion-input type="text" [(ngModel)]="photo_status"></ion-input>
              </ion-item>

              <ion-item style="display: none;">
                <ion-label floating>Hidden Data</ion-label>
                <ion-input type="text" [(ngModel)]="hidden_data"></ion-input>
              </ion-item>

              <ion-item style="display: none;">
                <ion-label floating>Latitude</ion-label>
                <ion-input readonly type="text" [(ngModel)]="latitude"></ion-input>
              </ion-item>

              <ion-item style="display: none;">
                <ion-label floating>Longitude</ion-label>
                <ion-input readonly type="text" [(ngModel)]="longitude"></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-item-divider color="oren" style="text-align: center;" (click)="takePhoto()">
            <ion-icon name="camera"></ion-icon>&nbsp;&nbsp;<b>Ambil Photo</b>
          </ion-item-divider>
        </ion-card>

        <div #qrcElement id="qrcElement" style="display: none"></div>
        <p align="center" style="display: none" id="hasil_photo"><img id="take_photo" src="{{photo}}"></p>

        <ion-card>
          <ion-item-divider color="light-shade">Hasil Photo</ion-item-divider>
          <ion-card-content>
            <canvas id="myCanvas1" #imageCanvas1 style="margin: auto; width: 98%;height: 100%;"></canvas>
          </ion-card-content>
        </ion-card>

      </div>

    </div>
  </ion-grid>
</ion-content>