<ion-header>

  <ion-navbar color="oren">
    <ion-title>
      <div>Pengaturan</div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <ion-grid fixed class="wrapper">



    <ion-list>

      <ion-item (click)="logout()">
        <ion-icon name="log-out" item-start></ion-icon>
        Keluar
      </ion-item>
      <ion-item (click)="change_password()" *ngIf="view_change_password=='Yes'">
        <ion-icon name="key" item-start></ion-icon>
        Ganti Password
      </ion-item>
      <ion-item (tap)="developer_option($event)">
        <ion-icon name="build" item-start></ion-icon>
        Developer Mode
      </ion-item>
      <ion-item>
        <ion-icon name="ios-cog" item-start></ion-icon>
        GoCheck V.150320
        <ion-note item-end *ngIf="update=='Yes'">
          <button ion-button color="danger" round (click)="check_update()">update</button>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        First Release At 2020-02-20
      </ion-item>


    </ion-list>
  </ion-grid>
</ion-content>