// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (primary: #3880ff,
  primary-shade:#3171e0,
  primary-tint:#4c8dff,

  secondary: #0cd1e8,
  secondary-shade: #0bb8cc,
  secondary-tint: #24d6ea,

  tertiary: #7044ff,
  tertiary-shade: #633ce0,
  tertiary-tint: #7e57ff,

  success: #10dc60,
  success-shade: #0ec254,
  success-tint: #28e070,

  warning: #ffce00,
  warning-shade: #e0b500,
  warning-tint:#ffd31a,

  danger: #f04141,
  danger-shade: #d33939,
  danger-tint: #f25454,

  light: #f4f5f8,
  light-shade: #d7d8da,
  light-tint: #f5f6f9,

  medium: #989aa2,
  medium-shade: #86888f,
  medium-tint: #a2a4ab,

  dark: #222428,
  dark-shade: #1e2023,
  dark-tint: #383a3e,

  // oren : #ff7800,
  // oren : #9831e0,
  oren : #633ce0,
  background:#e9eef5,
  white:#ffffff);

  $grid-breakpoints: (
 xs: 0, // Phone (0px - 575px)
 sm: 576px, // Phablet (576px - 767px)
 md: 768px, // Tablet vertical (768px - 991px)
 lg: 475px // Tablet horizontal, Desktop (992px and above)
);

$grid-max-widths: (
 lg: 475px
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
