<!--
  Generated template for the ActivitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>Aktivitas Sales</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <div #map id="map" style="width: 100%;height: 100%;"></div>

  <div ion-fixed id="legend" style="
      position: absolute;
      right:3px;
      bottom: 25px;
      width: auto;
      height: auto;">
    <div id="more_options">
      <table style="border:0px solid black;">
        <tr>
          <td>
            <ion-card>

              <ion-item-group>
                <ion-list no-border>
                  <ion-item-divider color="light">
                    <table style="width: 100%;">
                      <tr>
                        <td>
                          <table style="width: 33%;">
                            <tr>
                              <td style="width: 100%;">
                                <div
                                  style="color:#f4f5f8;background-color: #d0465d;border-radius: 50%; width: 10px;height: 10px;">
                                  .
                                </div>
                              </td>
                              <td style="width: 100%;">&nbsp;&nbsp;Reject</td>
                            </tr>
                          </table>
                        </td>
                        <td>
                          <table style="width: 33%;">
                            <tr>
                              <td style="width: 100%;">
                                <div
                                  style="color:#f4f5f8;background-color: #3abc30;border-radius: 50%; width: 10px;height: 10px;">
                                  .
                                </div>
                              </td>
                              <td style="width: 100%;">&nbsp;&nbsp;Pending</td>
                            </tr>
                          </table>
                        </td>
                        <td>
                          <table style="width: 33%;">
                            <tr>
                              <td style="width: 100%;">
                                <div
                                  style="color:#f4f5f8;background-color: #4697d0;border-radius: 50%; width: 10px;height: 10px;">
                                  .
                                </div>
                              </td>
                              <td style="width: 100%;">&nbsp;&nbsp;Validate</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </ion-item-divider>
                </ion-list>
              </ion-item-group>

              <ion-item>
                <h2>{{nama_distributor}}</h2>
                <table style="width: 100%;">
                  <tr>
                    <td style="width: 15%;">
                      <h3>Tanggal</h3>
                    </td>
                    <td style="width: 85%;">
                      <p>: {{tanggal}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%;">
                      <h3>Sales</h3>
                    </td>
                    <td style="width: 85%;">
                      <p>: {{nama_sales}}</p>
                    </td>
                  </tr>
                </table>
                <!-- <h3>Sales : {{title}}</h3>
                  <p>Toko : Semua</p> -->
              </ion-item>

              <ion-card-content>
                <p style="color:#ffffff">
                  <!-- Wait a minute. Wait a minute, Doc. <br> -->
                  Uhhh... Are you telling me that you built a time machine... <br>
                  <!-- out of a DeLorean?! Whoa. This is heavy. -->
                </p>
              </ion-card-content>

              <ion-grid>
                <ion-row>
                  <ion-col col-8>
                    <div><button ion-button color="primary" outline block (click)="filter()">FILTER</button></div>
                  </ion-col>
                  <ion-col col-4>
                    <div><button ion-button color="danger" outline block (click)="sembunyikan()">SEMBUNYI</button></div>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-card>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <ion-fab right bottom id="fab" style="display: none;">
    <button ion-fab color="danger" (click)="tampilkan()">
      <ion-icon name="clipboard"></ion-icon>
    </button>
  </ion-fab>
</ion-content>