<ion-header>

  <ion-navbar color="oren">
    <ion-title>
      <div>Users</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="form_search()">
        <ion-icon name="search"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="close_page=='Yes'">
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close-circle"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed class="wrapper">
    <ion-list>
      <ion-item *ngIf="bisa_pilih=='Yes'">
        <h2>Semua</h2>
        <ion-icon name="download" item-end (click)="pilih_ini('','Semua')">
        </ion-icon>
      </ion-item>
      <ion-item *ngFor="let val of listUsers">
        <h2>{{val.name}}</h2>
        <h3>Username : {{val.username}}</h3>
        <p>Kode Sales : {{val.kdsales}}</p>
        <ion-icon name="ios-arrow-forward" item-end *ngIf="performance=='Yes' && bisa_pilih=='No'"
          (click)="performa(val.kdcabang,val.kdoutlet,val.kdsales,val.name)"></ion-icon>
        <ion-icon name="download" item-end *ngIf="bisa_pilih=='Yes'" (click)="pilih_ini(val.kdsales,val.name)">
        </ion-icon>
        <ion-icon name="key" item-end *ngIf="reset_password=='Yes' && hak_reset_password=='Yes'"
          (click)="resetPassword(val.name,val.username,val.kdsales,val.kdcabang,val.kdoutlet)"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event,src, first,filter)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Mencari Data Lagi...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>