<ion-header>

  <ion-navbar color="oren">
    <ion-title>
      <div>List Distributor</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="form_search()">
        <ion-icon name="search"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="close_page=='Yes'">
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close-circle"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed class="wrapper">
    <ion-list>
      <ion-item *ngIf="bisa_pilih=='Yes' && view_dist_reg=='Yes'">
        <h2>Semua Distributor Regional</h2>
        <ion-icon name="download" item-end (click)="pilih_ini('','Semua Distributor Regional')">
        </ion-icon>
      </ion-item>
      <ion-item *ngIf="bisa_pilih=='Yes' && view_dist_nas=='Yes'">
        <h2>Semua Distributor Nasional</h2>
        <ion-icon name="download" item-end (click)="pilih_ini('','Semua Distributor Nasional')">
        </ion-icon>
      </ion-item>
      <ion-item *ngFor="let val of listDistributor">
        <h2>{{val.Nama}}</h2>
        <p>{{val.KotaToko}}</p>
        <ion-icon name="ios-arrow-forward" item-end *ngIf="bisa_pilih=='No'"
          (click)="detailbangetlisting(val.KdOutlet,val.KdCabang)"></ion-icon>
        <ion-icon name="download" item-end *ngIf="bisa_pilih=='Yes'" (click)="pilih_ini(val.KdOutlet,val.Nama)">
        </ion-icon>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event,src, first,filter)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Mencari Data Lagi...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>