<ion-header>
  <ion-navbar color="oren">
    <ion-title>Analisa Toko {{title}}</ion-title>
    <ion-buttons end>
      <button id="reload" ion-button icon-only (click)="reset()" style="display: none;">
        <ion-icon name="sync"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="bgc">
  <input type="hidden" id="sum_nearby" value="0">
  <input type="hidden" id="yang_ke" value="0">

  <div #map id="map" style="width: 100%;height: 100%;"></div>

  <div ion-fixed id="legend" style="
    position: absolute;
    right:8px;
    top:5px;
    width: auto;
    height: auto;
    display:none">
    <div id="more_options">
      <table style="border:0px solid black;">
        <tr>
          <td>
            <ion-card>

              <ion-item-group>
                <ion-list no-border>
                  <ion-item-divider color="light">
                    <table style="width: 100%;">
                      <tr>
                        <td>
                          <b>Analisa Peta</b>
                        </td>
                      </tr>
                    </table>
                  </ion-item-divider>
                </ion-list>
              </ion-item-group>

              <ion-card-content>
                <table style="border: 0px solid #222;width: 100%;">
                  <tr>
                    <td>
                      <b>Keterangan Peta</b>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 40%;">
                      Radius
                    </td>
                    <td style="width: 60%;">
                      : {{radius}} Km
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 40%;">
                      Luas
                    </td>
                    <td style="width: 60%;">
                      : {{luas}} Km2
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 40%;">
                      Toko Tercover
                    </td>
                    <td style="width: 60%;">
                      : {{sum_toko}} Toko
                    </td>
                  </tr>
                  <tr *ngIf="type_nearby!=''">
                    <td style="width: 40%;">
                      {{type_nearby}}
                    </td>
                    <td style="width: 60%;">
                      : {{sum_nearby}} Toko
                    </td>
                  </tr>
                </table>
                <br>
                <table style="border: 0px solid #222;width: 100%;" *ngIf="type_nearby!=''">
                  <tr>
                    <td>
                      <b>Kesimpulan</b>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Berdasarkan data - data tersebut dapat disimpulkan <br>
                        bahwa Toko yang sudah tersebar di wilayah radius<br>
                        tersebut baru mencapai <b>{{persentase}}% dibanding {{type_nearby}} <br>
                          menurut database Google</b>.</p>
                    </td>
                  </tr>
                </table>
                <p style="color:#ffffff">
                  <!-- Wait a minute. Wait a minute, Doc. <br> -->
                  Uhhh... Are you telling me that you built a time machine... <br>
                  <!-- out of a DeLorean?! Whoa. This is heavy. -->
                </p>
              </ion-card-content>

            </ion-card>
          </td>
        </tr>
      </table>
    </div>
  </div>

</ion-content>