<ion-content>
  <ion-item-group>
    <ion-item (click)="detail()">Detail</ion-item>
    <ion-item (click)="peta()">Peta</ion-item>
    <ion-item *ngIf="hak_meresmikan_noo=='Yes'" (click)="edit()">Edit</ion-item>
  </ion-item-group>
</ion-content>