<!--
  Generated template for the NoolistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>N.O.O List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="form_search()">
        <ion-icon name="search"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-padding class="bgc">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed class="wrapper">

    <ion-list>
      <ion-item *ngFor="let val of listNoo">
        <ion-avatar item-start>
          <img src="assets/imgs/setting.png">
        </ion-avatar>
        <h2>{{val.KdOutlet}} - {{val.OutletName}} <ion-icon *ngIf="val.Status=='1'" name="checkmark-circle"
            color="secondary"></ion-icon>
          <ion-icon *ngIf="val.Status=='2'" name="close-circle" color="danger"></ion-icon>
        </h2>
        <p>{{val.Address}}</p>
        <h3>Uploader : {{val.UserUpload}}</h3>
        <h3>Date Upload : {{val.DateUpload}}</h3>
        <h3 *ngIf="val.Status!='0'">Validator : {{val.UserValidate}}</h3>
        <h3 *ngIf="val.Status!='0'">Date Validate : {{val.DateValidate}}</h3>
        <p *ngIf="val.Note!=''">Note Uploader: {{val.Note}}</p>
        <p>Source Data: {{val.tipedata}}</p>
        <p *ngIf="val.NoteValidator!=''">Note Validator: {{val.NoteValidator}}</p>
        <button ion-button clear item-end (click)="aksi($event,val.id,val.Lat,val.Lng,val.OutletName)">aksi</button>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event,src, first,filter)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-grid>
</ion-content>