<ion-header>

  <ion-navbar color="oren">
    <ion-title>
      <div>Halaman Admin</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="form_search()">
        <ion-icon name="search"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="filtering()">
        <ion-icon name="clipboard"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="bgc">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed class="wrapper">

    <ion-list>


      <ion-item-divider color="light">
        <table style="width: 100%;">
          <tr>
            <td (click)="dashboard('pending')">
              <table style="width: 33%;">
                <tr>
                  <td style="width: 100%;">
                    <div style="color:#f4f5f8;background-color: #ffd31a;border-radius: 50%; width: 10px;height: 10px;">
                      .
                    </div>
                  </td>
                  <td style="width: 100%;">&nbsp;&nbsp;Pending : {{pending}}</td>
                </tr>
              </table>
            </td>
            <td (click)="dashboard('validate')">
              <table style="width: 33%;">
                <tr>
                  <td style="width: 100%;">
                    <div style="color:#f4f5f8;background-color: #ffd31a;border-radius: 50%; width: 10px;height: 10px;">
                      .
                    </div>
                  </td>
                  <td style="width: 100%;">&nbsp;&nbsp;Validate : {{validate}}</td>
                </tr>
              </table>
            </td>
            <td (click)="dashboard('reject')">
              <table style="width: 33%;">
                <tr>
                  <td style="width: 100%;">
                    <div style="color:#f4f5f8;background-color: #ffd31a;border-radius: 50%; width: 10px;height: 10px;">
                      .
                    </div>
                  </td>
                  <td style="width: 100%;">&nbsp;&nbsp;Reject : {{reject}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </ion-item-divider>


      <ion-item *ngFor="let val of listOutlet"
        (click)="detaillist(val.id,val.Lat,val.Lng,val.KdOutlet,val.OutletName,val.Address,val.Images)">
        <ion-avatar item-start>
          <img src="assets/imgs/setting.png">
        </ion-avatar>
        <h2>{{val.KdOutlet}} - {{val.OutletName}} <ion-icon *ngIf="val.Status=='1'" name="checkmark-circle"
            color="secondary"></ion-icon>
          <ion-icon *ngIf="val.Status=='2'" name="close-circle" color="danger"></ion-icon>
        </h2>
        <p>{{val.Address}}</p>
        <h3>Uploader : {{val.UserUpload}}</h3>
        <h3>Date Upload : {{val.DateUpload}}</h3>
        <h3 *ngIf="val.Status!='0'">Validator : {{val.UserValidate}}</h3>
        <h3 *ngIf="val.Status!='0'">Date Validate : {{val.DateValidate}}</h3>
        <p *ngIf="val.Note!=''">Note Uploader: {{val.Note}}</p>
        <p>Source Data: {{val.tipedata}}</p>
        <p *ngIf="val.NoteValidator!=''">Note Validator: {{val.NoteValidator}}</p>

      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event,src, first,filter)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-grid>
</ion-content>