<ion-header>

  <ion-navbar color="oren">
    <ion-title>
      <div>List Toko</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="form_search()">
        <ion-icon name="search"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close-circle"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bgc">
  <ion-grid fixed class="wrapper">

    <ion-list>
      <ion-item *ngFor="let val of listOutlet" (click)="pilih_outlet(val.kdoutlet,val.nama,val.alamat)">

        <h2>{{val.nama}} ({{val.kdoutlet}})</h2>
        <p>{{val.alamat}}</p>
        <ion-note item-end color="warning" *ngIf="val.statuz_pending=='1'">
          Pending
        </ion-note>
        <ion-note item-end color="secondary" *ngIf="val.statuz_valid=='1'">
          Validate
        </ion-note>

      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>