<ion-header>
  <ion-navbar color="oren">
    <ion-title>Peta Toko {{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="bgc">
  <div #map id="map" style="width: 100%;height: 100%;"></div>

  <div ion-fixed id="legend" style="
    position: absolute;
    right:3px;
    bottom: 25px;
    width: auto;
    height: auto;">
    <div id="more_options">
      <table style="border:0px solid black;">
        <tr>
          <td>
            <ion-card>

              <ion-item-group>
                <ion-list no-border>
                  <ion-item-divider color="light" *ngIf="legend_type=='1'">
                    <table style="width: 100%;">
                      <tr>
                        <td>
                          <table style="width: 33%;">
                            <tr>
                              <td style="width: 100%;">
                                <div
                                  style="color:#f4f5f8;background-color: #4697d0;border-radius: 50%; width: 10px;height: 10px;">
                                  .
                                </div>
                              </td>
                              <td style="width: 100%;">&nbsp;&nbsp;Toko Plus</td>
                            </tr>
                          </table>
                        </td>
                        <td>
                          <table style="width: 33%;">
                            <tr>
                              <td style="width: 100%;">
                                <div
                                  style="color:#f4f5f8;background-color: #d0465d;border-radius: 50%; width: 10px;height: 10px;">
                                  .
                                </div>
                              </td>
                              <td style="width: 100%;">&nbsp;&nbsp;Toko Resmi</td>
                            </tr>
                          </table>
                        </td>
                        <td>
                          <table style="width: 33%;">
                            <tr>
                              <td style="width: 100%;">
                                <div
                                  style="color:#f4f5f8;background-color: #3abc30;border-radius: 50%; width: 10px;height: 10px;">
                                  .
                                </div>
                              </td>
                              <td style="width: 100%;">&nbsp;&nbsp;Toko N.O.O</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </ion-item-divider>

                  <ion-item-divider color="light" *ngIf="legend_type=='2'">
                    <table style="width: 100%;">
                      <tr>
                        <td>
                          <table style="width: 50%;">
                            <tr>
                              <td style="width: 100%;">
                                <div
                                  style="color:#f4f5f8;background-color: #d0465d;border-radius: 50%; width: 10px;height: 10px;">
                                  .
                                </div>
                              </td>
                              <td style="width: 100%;">&nbsp;&nbsp;Toko Resmi</td>
                            </tr>
                          </table>
                        </td>
                        <td>
                          <table style="width: 50%;">
                            <tr>
                              <td style="width: 100%;">
                                <div
                                  style="color:#f4f5f8;background-color: #3abc30;border-radius: 50%; width: 10px;height: 10px;">
                                  .
                                </div>
                              </td>
                              <td style="width: 100%;">&nbsp;&nbsp;Toko N.O.O</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </ion-item-divider>
                </ion-list>
              </ion-item-group>

              <ion-item>
                <h2>{{distributor_name}}</h2>
                <table style="width: 100%;">
                  <tr>
                    <td style="width: 15%;">
                      <h3>Sales</h3>
                    </td>
                    <td style="width: 85%;">
                      <p>: {{sales_name}}</p>
                    </td>
                  </tr>
                </table>
                <!-- <h3>Sales : {{title}}</h3>
                <p>Toko : Semua</p> -->
              </ion-item>

              <ion-card-content>
                <p style="color:#ffffff">
                  <!-- Wait a minute. Wait a minute, Doc. <br> -->
                  Uhhh... Are you telling me that you built a time machine... <br>
                  <!-- out of a DeLorean?! Whoa. This is heavy. -->
                </p>
                <table style="border: 0px solid #222;width: 100%;">
                  <tr>
                    <td colspan="2">
                      <b>Keterangan Peta</b>
                    </td>
                    <td colspan="2">
                      <b>Info Tambahan</b>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%;">
                      Semua Toko
                    </td>
                    <td style="width: 25%;">
                      : {{toko_pegangan}} Toko
                    </td>
                    <td style="width: 25%;">
                      N.O.O
                    </td>
                    <td style="width: 25%;">
                      : {{toko_noo}} Toko
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%;">
                      Belum
                    </td>
                    <td style="width: 25%;">
                      : {{toko_belum_terpetakan}} Toko
                    </td>
                    <td style="width: 25%;" *ngIf="legend_type=='1'">
                      Toko Plus*
                    </td>
                    <td style="width: 25%;" *ngIf="legend_type=='1'">
                      : {{toko_diluar_pegangan_sudah_terpetakan}} Toko
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 25%;">
                      Sudah
                    </td>
                    <td style="width: 25%;">
                      : {{toko_sudah_terpetakan}} Toko
                    </td>
                    <td style="width: 50%;" colspan="2" *ngIf="legend_type=='1'">
                      <i>*) Toko diluar rute sales</i>
                    </td>
                  </tr>
                </table>
              </ion-card-content>

              <!-- <ion-row *ngIf="view_filter=='Yes'">
                <ion-col>
                  <button ion-button color="primary" outline block (click)="filter()">FILTER</button>
                </ion-col>
              </ion-row> -->

              <ion-grid *ngIf="view_filter=='Yes'">
                <ion-row>
                  <ion-col col-8>
                    <div><button ion-button color="primary" outline block (click)="filter()">FILTER</button></div>
                  </ion-col>
                  <ion-col col-4>
                    <div><button ion-button color="danger" outline block (click)="sembunyikan()">SEMBUNYI</button></div>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-card>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- <ion-grid fixed>


    <div class="wrapper">
      <div id="peta">
        <ion-item-group>
          <ion-list no-border>
            <ion-item-divider color="light" *ngIf="legend_type=='1'">
              <table style="width: 100%;">
                <tr>
                  <td>
                    <table style="width: 33%;">
                      <tr>
                        <td style="width: 100%;">
                          <div
                            style="color:#f4f5f8;background-color: #4697d0;border-radius: 50%; width: 10px;height: 10px;">
                            .
                          </div>
                        </td>
                        <td style="width: 100%;">&nbsp;&nbsp;Toko Plus</td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table style="width: 33%;">
                      <tr>
                        <td style="width: 100%;">
                          <div
                            style="color:#f4f5f8;background-color: #d0465d;border-radius: 50%; width: 10px;height: 10px;">
                            .
                          </div>
                        </td>
                        <td style="width: 100%;">&nbsp;&nbsp;Toko Resmi</td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table style="width: 33%;">
                      <tr>
                        <td style="width: 100%;">
                          <div
                            style="color:#f4f5f8;background-color: #3abc30;border-radius: 50%; width: 10px;height: 10px;">
                            .
                          </div>
                        </td>
                        <td style="width: 100%;">&nbsp;&nbsp;Toko N.O.O</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </ion-item-divider>

            <ion-item-divider color="light" *ngIf="legend_type=='2'">
              <table style="width: 100%;">
                <tr>
                  <td>
                    <table style="width: 50%;">
                      <tr>
                        <td style="width: 100%;">
                          <div
                            style="color:#f4f5f8;background-color: #d0465d;border-radius: 50%; width: 10px;height: 10px;">
                            .
                          </div>
                        </td>
                        <td style="width: 100%;">&nbsp;&nbsp;Toko Resmi</td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table style="width: 50%;">
                      <tr>
                        <td style="width: 100%;">
                          <div
                            style="color:#f4f5f8;background-color: #3abc30;border-radius: 50%; width: 10px;height: 10px;">
                            .
                          </div>
                        </td>
                        <td style="width: 100%;">&nbsp;&nbsp;Toko N.O.O</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </ion-item-divider>

            <ion-item>
              <ion-icon name='search' item-end *ngIf="ubah_dist=='Yes'" >
              </ion-icon>
              Distributor : {{distributor_name}}
            </ion-item>
            <ion-item>
              <ion-icon name='search' item-end *ngIf="ubah_sales=='Yes'" >
              </ion-icon>
              Sales : {{title}}
            </ion-item>
            <ion-item>
              <ion-icon name='search' item-end *ngIf="ubah_toko=='Yes'" >
              </ion-icon>
              Toko : {{toko}}
            </ion-item>
          </ion-list>
        </ion-item-group>
      </div>
    </div>
  </ion-grid> -->

  <ion-fab right bottom id="fab" style="display: none;">
    <button ion-fab color="danger" (click)="tampilkan()">
      <ion-icon name="clipboard"></ion-icon>
    </button>
  </ion-fab>
</ion-content>