<!--
  Generated template for the RutesalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>Rute Sales</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="form_search()">
        <ion-icon name="search"></ion-icon>&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-padding class="bgc">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed class="wrapper">
    <ion-list>
      <ion-item *ngFor="let val of listUsers">
        <h2>{{val.name}}</h2>
        <h3>Username : {{val.username}}</h3>
        <p>Kode Sales : {{val.kdsales}}</p>
        <button ion-button clear item-end
          (click)="detail_rute(val.kdsales,val.kdcabang,val.kdoutlet,val.name)">{{val.jml_toko}}
          toko</button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event,src, first)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Mencari Data Lagi...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>